@model SimpleImageGallery.Models.GalleryDetailModel

<div class="row container body-content">
    <div class="image-detail-container col-md-9">
        <div class="image-detail" style="height:700px;width:700px">
            <img src="@Model.Url" alt="@Model.Title" style="height: 650px; width: 650px" />
        </div>
    </div>
    
    <div class="controls col-md-3">
        <div class="row">
            <div class="col-sm-8">
                <a class="btn btn-primary" asp-controller="Gallery" asp-action="Index">
                    Back to Gallery
                </a>
            </div>
            <div class="col-sm-4">
                <a class="btn btn-primary" asp-controller="Image" asp-action="deleteImage" asp-route-id="@Model.Id">
                    Delete
                </a>
            </div>
        </div>
        <div class="row image-datail-meta">
            <span>Title: @Model.Title</span>
            <span>Uploaded: @Model.CreatedOn</span>
        </div>
        
    </div>
</div>
